
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-sm-12">
    <ul class="list-group">
        <li class="list-group-item">Create Paper</li>

        <li class="list-group-item">Create Exam</li>

        <li class="list-group-item">View Exams</li>
    </ul>
</div>