
@{
    ViewBag.Title = "Student";
}

<h2>Student Login</h2>


@using (Html.BeginForm())
{
    <h2 class="form-group">Email</h2>
   
    <input type="text" class="form-control" name="email" />
    <br>
    <h2 class="form-group">Date Of Birth</h2>
    <input type="password" class="form-control"name="password"/>
    <br>
    <input type="submit" class="btn-primary" name="submit" value="Submit">
}